# Node modules
node_modules/

# Build output
dist/
out/

# VS Code settings folder
.vscode/

# Logs
*.log

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# Mac OS files
.DS_Store

# Linux files
*.swp
